body {
    font-family: 'Titillium Web', sans-serif;
    display: block;
    text-align: center;
}

#game-box {
    margin: 50px 0 0 0;
    text-align: center;
    width: 100%;
}

#buttons {
    height: 200px;
    width: 600px;
    position: absolute;
    text-align: center;
    bottom: 0px;
    left: 50%;
    margin: 0 0 0 -300px;
}
.main-title{
    margin-top: 90px;
    font-size: 50px;
}
#countdown{
    font-size: 60px;
    height: 441px;
    margin: 0;
}
#game-counter{
    position: absolute;
    top: 35%;
    left: 50%;
}
#home-image {
    height: 250px;
    left: 50px;
}

.game-image {
    width: 200px;
}

.button {
    height: 50px;
    width: 125px;
    margin: 10px;
    font-size: 18px;
}